<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Skills | AI Resume Builder</title>
    <%- include('components/links'); %>
    <link rel="stylesheet" href="/css/personal.css" />
  </head>
  <body>
    <%-include('components/navbar',{isAuth,user}); %>

    <h3 class="text-light text-center mt-4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      Edit Your Resume
      <p style="font-size: medium;">Please provide the necessary information for your resume.</p>
    </h3>

    <div class="form-container">
      <h2>Skill Sets</h2>
      <p>Add your top professional key skills</p>
      <form>
        <div class="appendBox ">
          <% let count = 1 %>
          <% if(result && result.length >  0) { %>
          <% result.forEach(function(data){ %>
        <!-- skills box 1 -->
        <div class="skills shadow p-4 mt-4 m" style="border-radius: 16px;">
        <div class="input-group">
          <label id="skill-<%=count%>" ><%=count%>.Skill</label>
          <label for="skill-name">Name :</label>
          <input type="text" id="skill-name-<%=count%>" value="<%= data.name%>" />
        </div>

        <div class="input-group">
          <label for="description">Description:</label>
          <textarea id="description-<%=count%>" rows="5" style="padding: 10px; border: 1px solid #c8e6c9; border-radius: 6px; font-size: 16px;"><%= data.description %></textarea>
        </div>
         </div> 
         <% count++; %>
          <% }); %>
          <% }else{ %>
        <div class="skills shadow p-4 mt-4 m" style="border-radius: 16px;">
        <div class="input-group">
          <label id="skill-<%=count%>" ><%=count%>.Skill</label>
          <label for="skill-name">Name :</label>
          <input type="text" id="skill-name-<%=count%>" />
        </div>

        <div class="input-group">
          <label for="description">Description:</label>
          <textarea id="description-<%=count%>" rows="5" style="padding: 10px; border: 1px solid #c8e6c9; border-radius: 6px; font-size: 16px;"></textarea>
        </div>
         </div> 
       
         <% } %>
        </div>
        <!-- skills box 1 end -->
        <div class="d-flex justify-content-between align-items-center mt-5">
          <div>
            <button type="button" id="addBtn" class="btn btn-outline-primary btn-sm">
              <i class="bi bi-plus-lg"></i> Add More
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm ms-2 removeBtn">
              <i class="bi bi-dash-lg"></i> Remove
            </button>
          </div>
         </div>
        
       <div class="submit-group">
      <button type="button" id="saveBtn" >Save</button>
      <button type="submit" class="btn btn-success d-inline-flex align-items-center gap-2 nextBtn" >
       Next
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
       class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 
             .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 
             8.5H1.5A.5.5 0 0 1 1 8"/>
      </svg>
      </button>
    </div>
      </form>
    </div>

    <script src="/js/resumeDetails/skills.js"></script>
  </body>
</html>
